body, html {
    margin: 0;
    padding: 0;
    overflow: none;
    clear: both;
}
form{
	overflow: hidden;

}
#main-container {
    width: 100%;
    position: absolute;
    height: 450px;
    display: flex;
    padding-top: 30px;
    height: auto;
}

#notification-container {
    width: 100%;
    height: 20px;
    display: flex;
    background-color: yellow;
}

#logo-container{
			display: flex;
			width:200px;
			height: 60px;
			padding-left: 50px;
			padding-top: 50px;
}
#parent-container {
    width: 100%;
    height: auto;
    display: flex;
   background: url("http://1.bp.blogspot.com/-_aJuw2iA8Ak/VCgZ-lbj-VI/AAAAAAAAANA/9LGTsmP3OIE/s1600/tropical-dream-wallpapers_30260_1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-top: 40px;
}

#flight-child-container {
    width: 100%;
    display: flex;
    background-color: black;
    opacity: 0.75;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 7px;
}
#hotel-child-container {
    width: 100%;
    display: flex;
    background-color: black;
    opacity: 0.75;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 7px;
    height: : auto;

}
ul{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}
li{
    display: flex;
    width: 60px;
    height: 40px;
    padding-right: 20px;
    justify-content: center;
    border: 2px solid yellow;
     border-radius: 5px;
     border-spacing: 5px;
}
#flights{
    background-image: url("plane.png");
    background-position: top;
    background-repeat: no-repeat;
    background-color: blue;
    color:white;
}
#oneWay{
    border:2px,solid,solid-black;
    background-color: blue;
    color:white;
}
#return{
    border:2px,solid,solid-black;
    background-color: inherit;
    color:white;
}
#hotels{
     background-image: url("hotel.png");
    background-position: top;
    background-repeat: no-repeat;
    background-color: inherit;
    color:white;
}

#button-container {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
   /* background-color: blue;*/
}

.button-text-alignment {
    text-align: center;
}

.button-flex {
    width: 80px;
    height: 50px;
    display: flex;
    height: 40px;
    color: yellow;
   /* background-color: rgb(0,0,136);*/
    justify-content: center;
    opacity: 0.97;
    margin: 4px;
    border-radius: 20px;
    align-content: center;
}

#text-info-flex {
    display: flex;
    width: 456px;
    height: 40px;
    padding: 1px;
    flex-direction: row;
    justify-content: space-between;
}

.text-info {
    font-size: 15px;
    color: whitesmoke;
    font-size:large;
}

.info-input-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 460px;
}

.input-box {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#trip-button-flex {
    display: flex;
    flex-direction: row;
    width: 150px;
    padding: 10px;
}
button{
        width: 70px;
        height: 30px;
        border-radius: 10px;
        background-color: deepskyblue;
}
.datepicker{
			width: 78px;
			height: 20px;
}
.input-box-dimension {
    display: flex;
    border-radius: 20px;
    width: 300px;
    height: 25px;
    background-color: ghostwhite;
}

.trip-flex {
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

p {
    color: white;
}

#departure-info-flex {
    display: flex;
    width: 600px;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
}
#hotel-info-flex {
    display: flex;
    width: 500px;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
}
#adults {
    display: flex;
    border-radius: 15px;
    width: 70px;
    height: 18px;
    background-color: lightyellow;
}

#children {
    display: flex;
    border-radius: 15px;
    width: 70px;
    height: 18px;
    background-color: lightyellow;
}

#departure-input-box {
    width: 605px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hotel-input-box {
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#departure {
    width: 150px;
}

#submit-flex {
    display: flex;
    width: 200px;
    padding-top: 20px;
    padding: 30px;
}

#hotelSubmit {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: yellow;
    font-weight: bold;
}

#flightSubmit {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: yellow;
    font-weight: bold;
}

.departure-info-input-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.datepicker{
    display: flex;
    border-radius: 15px;
    background-color: lightyellow;
}
#extraRoom{
            display: flex;
            flex-direction: column;
}
#extraRooms{
    display: flex;
    flex-direction: column;
}
#roomNumber{
            width:80px;
            height:30px;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
}
#customerInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#room-info-flex
{
     display: flex;
    width: 250px;
    height: 45px;
    flex-direction: row;
    justify-content: space-around;
}
#room-input-box {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#rooms-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.category-buttons{
    border: 2px solid solid-black;
    border-radius: 5px;
    padding-right: 10px;
    height: 45px;
}